<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>AirGuard AI</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="landing-page">

<div class="hero">

    <div class="hero-content">

        <h1>🌍 AirGuard AI</h1>

        <h2>
            AI-Powered Urban Air Quality Intelligence Platform
        </h2>

        <p>

            Empowering Smart Cities with AI-driven pollution prediction,
            geospatial intelligence, health advisories, and intelligent
            decision support.

        </p>

        <div class="feature-tags">

            <span>📈 AQI Prediction</span>

            <span>🗺 Smart Maps</span>

            <span>🤖 AI Recommendations</span>

            <span>❤️ Health Advisory</span>

        </div>

        <div class="stats">

            <div class="stat">

                <h3>182</h3>

                <p>Current AQI</p>

            </div>

            <div class="stat">

                <h3>215</h3>

                <p>Predicted AQI</p>

            </div>

            <div class="stat">

                <h3>5</h3>

                <p>High Risk Wards</p>

            </div>

        </div>

        <a href="/dashboard">

            <button class="launch-btn">

                🚀 Launch Dashboard

            </button>

        </a>

    </div>

</div>
</body>

</html>